@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<address>
    Zenith<br />
    666 Zenith Way, Burnaby, BC<br />
    <abbr title="Phone">P:</abbr>
    604.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@zenith.com">Support@zenith.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@zenith.com">Marketing@zenith.com</a>
</address>
