@{
    ViewData["Title"] = "Home Page";
}

<div id="Home">
   <img src="~/images/Zenith.jpg" alt="Zenith Logo" class="center" />
   <div class="center">
     <h1>Zenith, For all your compound interest needs!</h1>
    </div>
</div>
       